
:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ssf-head {
    width: 100%;
}

.ssf-header-bar {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center
}

.ssf-nav-bar {
    justify-content: center;
}
